div.latest {
  & > * + * {
    margin-top: 0.25rem;
  }
}
div.title {
  display: flex;
  font-weight: 700;
  width: max-content;
  margin-left: 0.75rem;

  & > * {
    align-self: center;
  }
  & > * + * {
    margin-left: 1rem;
  }

  h2 {
    font-size: 1.125rem;
  }
  .view-all {
    display: none;
  }
}

@media (min-width: 601px) {
  div.latest {
    & > * + * {
      margin-top: 0.5rem;
    }

    &:hover {
      & > .title > .view-all {
        opacity: 1;
        transition: 0.4s ease-in-out;
      }
    }
    div.title {
      margin-left:1.75rem;
      &:hover {
        & .view-all > p > span {
          color: #54b9c5;
          transition: 0.4s ease-in-out;
          opacity: 1;
        }
      }
      &:hover {
        & > .view-all > p > svg {
          height: 0.75rem;
          transform: translate(700%, -50%);
        }
      }
      h2 {
        font-size: 1.25rem;
      }
      .view-all {
        display: block;
        flex-direction: row;
        height: max-content;
        transition: 0.4s ease-in-out;

        & > * {
          align-self: center;
        }
        & > * + * {
          margin-left: 0.25rem;
        }
        p {
          display: flex;
          position: relative;

          span {
            font-size: 1rem;
            opacity: 0;
          }

          svg {
            fill: #54b9c5;
            width: auto;
            height: 1rem;
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
            transition: 0.4s ease-in-out;
          }
        }
      }
    }
    .swiper {
      .swiper-button-prev,
      .swiper-button-next {
        padding: 0 1rem;
      }
      .swiper-wrapper {
        margin-left:1rem;
        & > * + * {
          margin-left:.75rem;
        }
      }
      .swiper-slide {
        width: 16rem;
        height: 8rem;
      }
    }
  }
}
@media (min-width: 1280px) {
  div.latest {
    & > * + * {
      margin-top: 0.5rem;
    }
    div.title {
      margin-left: 3rem !important;
      &:hover {
        & > .view-all > p > svg {
          height: 0.75rem;
          transform: translate(770%, -50%);
        }
      }
      h2 {
        font-size: 1.5rem;
      }

      .view-all {
        p {
          span {
            font-size: 1.125rem;
          }
          svg {
            height: 1.5rem;
          }
        }
      }
    }
    .swiper {
      .swiper-wrapper {
        margin-left: 2rem;
        & > * + * {
          margin-left: 1rem;
        }
      }
      .swiper-slide {
        width: 20rem;
        height: 11rem;

        .hover-el {
          div.tl-corner {
            top: 1rem;
            left: 1.25em;

            .play-this {
              padding: 0.75rem;
            }
            svg {
              height: 0.75rem;
              width: 0.75rem;
            }
          }

          div.tr-corner {
            right: 1rem;
            top: 1rem;
            gap: 0.5rem;
            a.info-this > svg {
              height: 1.5rem;
              width: 1.5rem;
              stroke-width: 1px;
            }
            a.favour-this > svg {
              height: 1.5rem;
              width: 1.5rem;
            }
          }
          div.bl-corner {
            left: 1rem;
            bottom:.75rem;
            .short-info {
              font-size: 0.75rem;
              & > * {
                &::after {
                  margin-left: 0.5rem;
                }
              }
              & > * + * {
                margin-left: 0.5rem;
              }
              p.age-restrict {
                padding: 0.125rem 0.5rem 0 0.5rem;
              }
            }
          }
        }
      }
    }
  }
}
