@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
  margin: 0;
}

body {
  min-height: 100vh;
  line-height: 1.5;
}

input,
button,
select,
textarea {
  font: inherit;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

img,
picture {
  display: block;
  max-width: 100%;
  border: none;
}

section {
  overflow: hidden;
}

/* remove animation for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* MOBILE NAV */
/* END MOBILE NAV */
/* DESKTOP NAV */
/* END DESKTOP NAV */
body {
  font-family: "Nunito", sans-serif;
  background: #141414;
  color: white;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  display: none;
}

/* MOBILE NAV */
div.m-nav {
  position: fixed;
  bottom: 0;
  z-index: 1;
  background: #242424;
  width: 100vw;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.25rem 1rem 1rem 1rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: 2;
}

div.m-nav a {
  text-decoration: none;
  color: #b3b3b3;
}

div.m-nav a:hover {
  color: #e6e6e6;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

div.m-nav > * + * {
  margin-left: clamp(1.5rem, 4vw, 6.25rem);
}

div.m-nav .item {
  display: -ms-grid;
  display: grid;
  place-items: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-size: clamp(0.75rem, 2vw, 2.5rem);
  text-align: center;
}

div.m-nav .item > * + * {
  margin-top: 0.5rem;
}

div.m-nav .item.router-link-exact-active {
  color: #e6e6e6 !important;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

div.m-nav .item.more {
  display: none;
}

div.m-nav .item svg {
  height: clamp(1.5rem, 4vw, 6.25rem);
  width: clamp(1.5rem, 4vw, 6.25rem);
}

@media (min-width: 768px) {
  .more {
    display: -ms-grid !important;
    display: grid !important;
  }
  div.m-nav > * + * {
    margin-left: clamp(1.5rem, 10vw, 6.25rem);
  }
}

/* END MOBILE NAV */
/* DESKTOP NAV */
div.desktop-nav {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 8px 12px;
  position: fixed;
  top: 0;
  z-index: 10;
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, color-stop(60%, #000), to(transparent));
  -webkit-mask-image: linear-gradient(#000 60%, transparent 100%);
  mask-image: -webkit-gradient(linear, left top, left bottom, color-stop(60%, #000), to(transparent));
  mask-image: linear-gradient(#000 60%, transparent 100%);
  background: #302929;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(-20%, #000), to(transparent));
  background: linear-gradient(180deg, #000 -20%, transparent 100%);
}

div.desktop-nav > * {
  position: -webkit-sticky;
  position: sticky;
}

div.desktop-nav.scrolling {
  background: #141414;
  -webkit-mask-image: unset;
  mask-image: unset;
}

div.desktop-nav svg {
  height: 0.5rem;
  width: 0.5rem;
}

div.desktop-nav a {
  text-decoration: none;
  color: #e6e6e6;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

div.desktop-nav a:hover {
  color: #b3b3b3;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

div.desktop-nav .left-corner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 45%;
}

div.desktop-nav .left-corner .logo {
  font-size: 1rem;
  font-weight: 600;
  z-index: 1;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

div.desktop-nav .left-corner ul {
  display: none;
  font-weight: 600;
}

div.desktop-nav .left-corner ul > li {
  list-style-type: none;
}

div.desktop-nav .left-corner ul > * + * {
  margin-left: 2rem;
}

div.desktop-nav .right-corner {
  white-space: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 55%;
}

div.desktop-nav .right-corner button.upgrade {
  border-width: 1px;
  border-color: #ffd900;
  border-style: solid;
  background: rgba(0, 0, 0, 0.5);
  color: #e0bf00;
  font-weight: 700;
  border-radius: 3rem;
  padding: 0.25rem 0.5rem;
  font-size: clamp(0.125rem, 1.6vw, 4rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

div.desktop-nav .right-corner button.upgrade:hover {
  color: #ffd900;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: rgba(255, 221, 26, 0.35) 0px 5px 15px;
          box-shadow: rgba(255, 221, 26, 0.35) 0px 5px 15px;
}

div.desktop-nav .right-corner button.upgrade:hover > svg {
  fill: #ffd900;
  stroke: transparent;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

div.desktop-nav .right-corner button.upgrade > * + * {
  margin-left: 0.275rem;
}

div.desktop-nav .right-corner button.search {
  color: #e6e6e6;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
}

div.desktop-nav .right-corner button.search > * + * {
  margin-left: 0.5rem;
}

div.desktop-nav .right-corner .user-corner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
}

div.desktop-nav .right-corner .user-corner > * + * {
  margin-left: 0.75rem;
}

div.desktop-nav .right-corner .user-corner .avt {
  height: 1.5rem;
  width: 1.5rem;
  background: #c5c5c5;
  border-radius: 50%;
}

div.desktop-nav .right-corner .user-corner .username {
  display: none;
}

@media (min-width: 1280px) {
  div.desktop-nav {
    padding: 1rem 2.5rem;
  }
  div.desktop-nav svg {
    height: 1.75rem;
    width: 1.75rem;
  }
  div.desktop-nav .left-corner {
    width: 50%;
  }
  div.desktop-nav .left-corner .logo {
    font-size: 2rem;
  }
  div.desktop-nav .left-corner ul {
    font-size: 1.125rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  div.desktop-nav .right-corner {
    width: 50%;
  }
  div.desktop-nav .right-corner button.upgrade {
    border-width: 2px;
    padding: 0.25rem 0.75rem;
    font-size: 1rem;
  }
  div.desktop-nav .right-corner button.upgrade:hover {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
  }
  div.desktop-nav .right-corner button.search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border: 2.5px solid #7849b6;
    color: #7849b6;
    border-radius: 50%;
    padding: 0.75rem;
    background: rgba(0, 0, 0, 0.5);
    -ms-flex-item-align: center;
        align-self: center;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  div.desktop-nav .right-corner button.search:hover {
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
    -webkit-transition: 0.3s;
    transition: 0.3s;
    -webkit-box-shadow: rgba(154, 71, 255, 0.5) 0px 5px 15px;
            box-shadow: rgba(154, 71, 255, 0.5) 0px 5px 15px;
    border-color: #b67eff;
    color: #b983ff;
  }
  div.desktop-nav .right-corner button.search svg {
    height: 1.25rem;
    width: 1.25rem;
  }
  div.desktop-nav .right-corner .user-corner .avt {
    height: 2.5rem;
    width: 2.5rem;
  }
  div.desktop-nav .right-corner .user-corner .username {
    display: block;
  }
}

/* END DESKTOP NAV */
/* HOME */
section.hero-banner {
  position: relative;
  height: clamp(28rem, 50vh, 53rem);
  width: 100vw;
}

section.hero-banner .play {
  display: none;
}

section.hero-banner .streaming {
  display: none;
}

section.hero-banner img.latest-film {
  width: 100%;
  height: auto;
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, color-stop(60%, #141414), to(transparent));
  -webkit-mask-image: linear-gradient(#141414 60%, transparent 100%);
  mask-image: -webkit-gradient(linear, left top, left bottom, color-stop(60%, #141414), to(transparent));
  mask-image: linear-gradient(#141414 60%, transparent 100%);
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
}

section.hero-banner .ratings,
section.hero-banner .genres,
section.hero-banner .trailer {
  visibility: hidden;
}

section.hero-banner .blocks {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 100vw;
  height: clamp(10rem, 50vw, 10rem);
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section.hero-banner .blocks .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 100%;
  position: relative;
}

section.hero-banner .blocks .item.title {
  background: rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 1rem;
  text-transform: uppercase;
  text-align: center;
  padding: 1rem;
  font-weight: 600;
  letter-spacing: 1.5px;
  word-spacing: -1px;
}

section.hero-banner .blocks .item.trailer {
  visibility: hidden;
}

section.hero-banner .blocks .item.genres {
  visibility: hidden;
}

section.hero-banner .blocks .item.ratings {
  visibility: hidden;
}

section.hero-banner .blocks .genres-m {
  margin: 0.5rem auto;
  font-size: clamp(0.575rem, 3vw, 0.75rem);
}

section.hero-banner .blocks .genres-m > * + * {
  margin-left: 0.5rem;
}

section.hero-banner .blocks .genres-m > * + *::before {
  content: "\2022";
  margin-right: 0.5rem;
}

section.hero-banner .blocks .btn-m {
  margin: 0.5rem auto;
  white-space: nowrap;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: -ms-grid;
  display: grid;
  place-items: center;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

section.hero-banner .blocks .btn-m > * {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

section.hero-banner .blocks .btn-m .add-to-list {
  display: -ms-grid;
  display: grid;
  place-items: center;
  font-size: 0.575rem;
}

section.hero-banner .blocks .btn-m .add-to-list svg {
  height: 1.25rem;
  width: 1.25rem;
  fill: #fff;
}

section.hero-banner .blocks .btn-m .play-m {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0.5rem;
}

section.hero-banner .blocks .btn-m .play-m svg {
  height: 1.25rem;
  width: 1.25rem;
}

section.hero-banner .blocks .btn-m .play-m button {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background: #fff;
  white-space: nowrap;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: clamp(0.75rem, 1.4vw, 2.5rem);
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

section.hero-banner .blocks .btn-m .play-m button:hover {
  -webkit-transition: 0.25s;
  transition: 0.25s;
  background: #eb0000;
  border: 1px solid #eb0000;
  color: #fff;
  box-shadow: 0px 0px 12px 3px rgba(235, 0, 0, 0.59);
  -webkit-box-shadow: 0px 0px 12px 3px rgba(235, 0, 0, 0.59);
  -moz-box-shadow: 0px 0px 12px 3px rgba(235, 0, 0, 0.59);
}

section.hero-banner .blocks .btn-m .play-m button:hover > svg {
  -webkit-transition: 0.25s;
  transition: 0.25s;
  fill: #fff;
}

section.hero-banner .blocks .btn-m .play-m button > * + * {
  margin-left: 0.275rem;
}

section.hero-banner .blocks .btn-m .play-m button span {
  font-weight: 700;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

section.hero-banner .blocks .btn-m .play-m button svg {
  -webkit-transition: 0.25s;
  transition: 0.25s;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  stroke-width: 4px;
  fill: #000;
  width: 0.75rem;
  height: 0.75rem;
}

section.hero-banner .blocks .btn-m .info-m {
  display: -ms-grid;
  display: grid;
  place-items: center;
  font-size: 0.575rem;
}

section.hero-banner .blocks .btn-m .info-m svg {
  stroke: #fff;
  fill: #fff !important;
  height: 1.25rem;
  width: 1.25rem;
}

@media (min-width: 325px) {
  section.hero-banner {
    position: relative;
    height: 135vw;
  }
}

@media (min-width: 1280px) {
  div.m-nav {
    display: none;
  }
  section.hero-banner {
    height: 100vh !important;
  }
  section.hero-banner img.latest-film {
    width: 100vw;
    height: 100vh;
    -o-object-fit: cover;
       object-fit: cover;
    -webkit-filter: brightness(95%);
            filter: brightness(95%);
  }
  section.hero-banner .play {
    display: block !important;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    color: #1dff8e;
    cursor: pointer;
    opacity: 0.4;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  section.hero-banner .play:hover {
    color: #b452f5;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    opacity: 0.9;
  }
  section.hero-banner .play svg {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  section.hero-banner .blocks {
    -webkit-transition: 0.6s;
    transition: 0.6s;
    height: clamp(3.125rem, 50vw, 11rem) !important;
    top: unset;
    bottom: 0;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
    -webkit-transform: translateY(0) !important;
    transform: translateY(0) !important;
  }
  section.hero-banner .blocks .item.title {
    font-size: 1.75rem !important;
    padding: 0 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  section.hero-banner .blocks .item.title .streaming {
    visibility: visible;
    font-weight: 100;
    text-transform: lowercase;
    font-size: 1.25rem;
    letter-spacing: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 0.5rem;
  }
  section.hero-banner .blocks .item.title .streaming svg {
    height: 1.25rem;
    width: 1.25rem;
    stroke-width: 1px;
  }
  section.hero-banner .blocks .item.trailer {
    width: 60% !important;
    border: none;
  }
  section.hero-banner .blocks .item.trailer a.play-trailer {
    width: 3rem !important;
    height: 3rem !important;
  }
  section.hero-banner .blocks .item.genres {
    visibility: visible;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    font-size: 1.25rem !important;
    padding: 0 1rem !important;
  }
  section.hero-banner .blocks .item.genres span {
    letter-spacing: 3px;
    color: #fff;
  }
  section.hero-banner .blocks .item.ratings {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    padding: 0 3rem 0 2rem !important;
    font-size: 1.25rem !important;
  }
  section.hero-banner .blocks .item.ratings > * + * {
    margin-left: 2rem;
  }
  section.hero-banner .blocks .item.ratings img {
    height: 2rem !important;
  }
  section.hero-banner .blocks .item.ratings svg {
    height: 2rem !important;
  }
}

@media (min-width: 1024px) {
  .streaming {
    display: none;
  }
  .blocks {
    bottom: 0;
    top: unset !important;
    display: none;
  }
  .blocks .genres {
    padding-left: 2.5rem !important;
    padding-right: 0.75rem !important;
  }
}

@media (min-width: 601px) {
  div.btn-m,
  div.genres-m {
    display: none !important;
  }
  .streaming {
    visibility: hidden;
  }
  section.hero-banner {
    width: 100vw;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    position: relative;
  }
  section.hero-banner .blocks {
    height: clamp(3.125rem, 50vw, 8rem);
    bottom: 0;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
  }
  section.hero-banner .blocks > * + * {
    border-left: 1px solid rgba(255, 255, 255, 0.308);
  }
  section.hero-banner .blocks .item.title {
    background: rgba(255, 255, 255, 0.06);
    -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    font-size: 1.125rem;
    padding: 0 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  section.hero-banner .blocks .item.trailer {
    visibility: visible;
    width: 100%;
  }
  section.hero-banner .blocks .item.trailer a.play-trailer {
    width: 3.25vw;
    height: 3.25vw;
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 0;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    opacity: 0.6;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  section.hero-banner .blocks .item.trailer a.play-trailer:hover {
    -webkit-transition: 0.4s;
    transition: 0.4s;
    opacity: 0.9;
  }
  section.hero-banner .blocks .item.trailer img.trailer-thumb {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -webkit-filter: brightness(80%);
            filter: brightness(80%);
  }
  section.hero-banner .blocks .item.genres {
    visibility: visible;
    background: rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    border: 0px solid transparent !important;
    width: 70%;
    padding: 0 1rem 0 1.5rem;
    color: #ccc;
    font-size: 1.4vw;
    white-space: normal;
  }
  section.hero-banner .blocks .item.genres span {
    letter-spacing: 3px;
    line-break: normal;
    color: #fff;
    font-size: 1.25rem;
    display: none;
  }
  section.hero-banner .blocks .item.genres a.more-ifo {
    text-decoration: none;
    color: #9b9b9b;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  section.hero-banner .blocks .item.genres a.more-ifo:hover {
    color: #ff0080;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  section.hero-banner .blocks .item.ratings {
    visibility: visible;
    background: rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    color: #ccc;
    font-size: 1.4vw;
    display: -ms-grid;
    display: grid;
    gap: 1rem;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    place-items: center;
    font-weight: 600;
    white-space: nowrap;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    padding: 0 1rem 0 1rem;
  }
  section.hero-banner .blocks .item.ratings div {
    display: -ms-grid;
    display: grid;
    place-items: center;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
  section.hero-banner .blocks .item.ratings img {
    height: 1rem;
    width: auto;
    margin-bottom: 0.5rem;
  }
  section.hero-banner .blocks .item.ratings .count {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
  section.hero-banner .blocks .item.ratings span > * + * {
    margin-left: 0.5rem;
  }
  section.hero-banner .blocks .item.ratings span.likes-count {
    color: #0fff8f;
  }
  section.hero-banner .blocks .item.ratings span.dislikes-count {
    color: #ff245b;
  }
  section.hero-banner .blocks .item.ratings svg {
    cursor: pointer;
    height: 1.25rem;
    width: auto;
  }
  section.hero-banner .blocks .item.ratings svg.feather-thumbs-up {
    fill: transparent;
    stroke: #0fff8f;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  section.hero-banner .blocks .item.ratings svg.feather-thumbs-up:hover {
    fill: #0fff8f;
    stroke: transparent;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  section.hero-banner .blocks .item.ratings svg.feather-thumbs-down {
    fill: transparent;
    stroke: #ff245b;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  section.hero-banner .blocks .item.ratings svg.feather-thumbs-down:hover {
    fill: #ff245b;
    stroke: transparent;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
}

div.latest > * + * {
  margin-top: 0.25rem;
}

div.latest:hover > .title > .view-all {
  opacity: 1;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

div.latest .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 700;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-left: .75rem;
}

div.latest .title > * {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

div.latest .title > * + * {
  margin-left: 1rem;
}

div.latest .title:hover > .view-all > p > span {
  color: #54b9c5;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  opacity: 1;
}

div.latest .title:hover > .view-all > p > svg {
  height: 0.6vw;
  -webkit-transform: translate(4.9vw, -50%);
          transform: translate(4.9vw, -50%);
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

div.latest .title h2 {
  font-size: 1.125rem;
}

div.latest .title .view-all {
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

div.latest .title .view-all > * {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

div.latest .title .view-all > * + * {
  margin-left: 0.25rem;
}

div.latest .title .view-all p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

div.latest .title .view-all p span {
  font-size: 0.95vw;
  opacity: 0;
}

div.latest .title .view-all p svg {
  fill: #54b9c5;
  width: auto;
  height: 1.3vw;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-0.5vw, -50%);
          transform: translate(-0.5vw, -50%);
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

div.latest .swiper {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: 10rem;
  overflow: unset;
}

div.latest .swiper .swiper-button-prev,
div.latest .swiper .swiper-button-next {
  margin-top: unset !important;
  width: unset;
  padding: 0 1vw;
  top: 0 !important;
  height: 100% !important;
  background: rgba(20, 20, 20, 0.5);
  z-index: 2;
}

div.latest .swiper .swiper-button-prev::after,
div.latest .swiper .swiper-button-next::after {
  color: #fff;
  opacity: 0.6;
  font-size: 2vw;
}

div.latest .swiper .swiper-button-prev:hover,
div.latest .swiper .swiper-button-next:hover {
  background: rgba(20, 20, 20, 0.7);
}

div.latest .swiper .swiper-button-prev:hover::after,
div.latest .swiper .swiper-button-next:hover::after {
  opacity: 0.8;
}

div.latest .swiper .swiper-button-next {
  right: 0;
  left: unset;
}

div.latest .swiper .swiper-button-prev {
  left: 0;
  right: unset;
}

div.latest .swiper .swiper-button-prev.swiper-button-disabled,
div.latest .swiper .swiper-button-next.swiper-button-disabled {
  display: none;
}

div.latest .swiper .swiper-wrapper {
  padding-left: .75rem;
}

div.latest .swiper .swiper-wrapper > * + * {
  margin-left: 0.25rem;
}

div.latest .swiper-slide {
  text-align: center;
  font-size: 18px;
  width: 200px;
  height: 90px;
  border-radius: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  -webkit-transition: -webkit-transform 0.05s;
  transition: -webkit-transform 0.05s;
  transition: transform 0.05s;
  transition: transform 0.05s, -webkit-transform 0.05s;
  margin-right: 0 !important;
}

div.latest .swiper-slide:hover {
  -webkit-transform: scale(1.6);
  transform: scale(1.6);
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-transition-delay: 0.8s !important;
          transition-delay: 0.8s !important;
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
  z-index: 3;
}

div.latest .swiper-slide:hover .hover-el {
  opacity: 1;
  pointer-events: unset;
  -webkit-transition-delay: 0.95s;
          transition-delay: 0.95s;
}

div.latest .swiper-slide.swiper-slide-prev {
  pointer-events: none;
}

div.latest .swiper-slide.swiper-slide-active:hover {
  -webkit-transform-origin: center left;
          transform-origin: center left;
}

div.latest .swiper-slide:nth-child(5n + 5):hover {
  -webkit-transform: scale(1.6) translateX(-0.7vw);
  transform: scale(1.6) translateX(-0.7vw);
  -webkit-transform-origin: center right;
          transform-origin: center right;
}

div.latest .swiper-slide img.movie-thumb {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.5rem;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  -webkit-filter: brightness(90%);
          filter: brightness(90%);
}

div.latest .swiper-slide .hover-el {
  opacity: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  pointer-events: none;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 0.5rem;
}

div.latest .swiper-slide .hover-el div.tl-corner {
  top: 1vw;
  left: 1.5vw;
  position: inherit;
}

div.latest .swiper-slide .hover-el div.tl-corner .play-this {
  border: 1px solid #fff;
  display: -ms-grid;
  display: grid;
  place-items: center;
  padding: 0.75rem;
  border-radius: 50%;
  -webkit-filter: brightness(60%);
          filter: brightness(60%);
}

div.latest .swiper-slide .hover-el div.tl-corner svg {
  height: 0.7vw;
  width: 0.7vw;
  fill: #eb0000;
}

div.latest .swiper-slide .hover-el div.bl-corner {
  position: absolute;
  bottom: 0;
  -webkit-transition-delay: 0.95s;
          transition-delay: 0.95s;
  -webkit-transition: 0.9s;
  transition: 0.9s;
  padding: 0.25vw 0 0.7vw 1vw;
  pointer-events: none;
}

div.latest .swiper-slide .hover-el div.bl-corner .short-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 0.5vw;
  color: #fff;
}

div.latest .swiper-slide .hover-el div.bl-corner .short-info > * {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

div.latest .swiper-slide .hover-el div.bl-corner .short-info > *::after {
  content: "\2022";
  margin-left: 0.5rem;
  color: #8f8f8f;
}

div.latest .swiper-slide .hover-el div.bl-corner .short-info > * + * {
  margin-left: 0.5rem;
}

div.latest .swiper-slide .hover-el div.bl-corner .short-info .age-restrict {
  padding: 1px 0.7rem;
  border: 1px solid #eb0000;
  border-radius: 1rem;
  background: rgba(0, 0, 0, 0.3);
}

div.latest .swiper-slide .hover-el div.bl-corner .short-info .age-restrict::after {
  display: none !important;
}

div.latest .swiper-slide .hover-el div.bl-corner img.title {
  width: auto !important;
  height: 2vw !important;
  -webkit-filter: brightness(130%);
          filter: brightness(130%);
}

/* USER SECTIONS */
/* MOVIE SECTIONS */
/*# sourceMappingURL=app.css.map */